# ---------- General ----------
PUERTO_GATEWAY=8080
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=clave-de-desarrollo-cambiala-en-tu-equipo
DJANGO_ALLOWED_HOSTS=*

# ---------- Identidad ----------
IDENTITY_DB_NAME=identity_db
IDENTITY_DB_USER=identity
IDENTITY_DB_PASSWORD=identity_dev

# ---------- Catalogo academico ----------
CATALOG_DB_NAME=catalog_db
CATALOG_DB_USER=catalog
CATALOG_DB_PASSWORD=catalog_dev

# ---------- Tutorias ----------
TUTORING_DB_NAME=tutoring_db
TUTORING_DB_USER=tutoring
TUTORING_DB_PASSWORD=tutoring_dev

# ---------- Pagos ----------
PAYMENT_DB_NAME=payment_db
PAYMENT_DB_USER=payment
PAYMENT_DB_PASSWORD=payment_dev
